.App {
    text-align: center;
    height: 100%;
}
.App-header {
  background-color: #181c1f;
  color: #fff;
  padding: 20px;
}
html, body{
    background-color: #575757;
    height: 100%;
    overflow: hidden;
}